<app-navbar></app-navbar>
<router-outlet></router-outlet>




<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="fw-bold">CONTACT US</h5>
        <p>Address: 139 Brook Drive South Richmond Hill, New York 1067 USA</p>
        <p>Email: <a href="mailto:suppro@support.com" class="text-warning">suppro&#64;support.com</a></p>
        <p class="mt-3">
          <strong>Call To Order</strong><br>
          <a href="tel:+0848594813614" class="text-warning fs-5">(+084) 859-481-3614</a>
        </p>
      </div>
      <div class="col-md-2">
        <h5 class="fw-bold">QUICK LINKS</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">About us</a></li>
          <li><a href="#" class="text-light">Contact us</a></li>
          <li><a href="#" class="text-light">Blogs</a></li>
          <li><a href="#" class="text-light">Become A Vendor</a></li>
          <li><a href="#" class="text-light">Business With Us</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="fw-bold">LET US HELP YOU</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Orders</a></li>
          <li><a href="#" class="text-light">Checkout</a></li>
          <li><a href="#" class="text-light">Downloads</a></li>
          <li><a href="#" class="text-light">Addresses</a></li>
          <li><a href="#" class="text-light">Account details</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="fw-bold">COMPANY INFO</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Special Offers</a></li>
          <li><a href="#" class="text-light">Privacy Policy</a></li>
          <li><a href="#" class="text-light">Teams of Use</a></li>
          <li><a href="#" class="text-light">Portfolio</a></li>
          <li><a href="#" class="text-light">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="fw-bold">USEFUL LINKS</h5>
        <p>Subscribe to the weekly newsletter for the latest updates & get a 10% off bill offers.</p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Enter Your Email ..." />
          <button class="btn btn-warning" type="button">SUBSCRIBE</button>
        </div>
        <p>Or Follow Us:</p>
        <div>
          <a href="#" class="text-light me-2 fs-5"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light me-2 fs-5"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-light me-2 fs-5"><i class="bi bi-pinterest"></i></a>
          <a href="#" class="text-light fs-5"><i class="bi bi-google"></i></a>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <p class="mb-0">© Copyright 2024 SUPPRO - All Rights Reserved - Powered by WooVina Theme.</p>
      </div>
    </div>
  </div>
</footer>
